# Maven / Java
/target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Spring Boot
spring-boot-devtools.properties
**/spring-boot-devtools.properties

# Eclipse / IntelliJ / VS Code
/.idea/
/*.iml
/.vscode/

# OS Files
.DS_Store
Thumbs.db

# Maven Wrapper binary
.mvn/wrapper/maven-wrapper.jar

# Environment / credentials
*.env
*.properties.local
